{% extends "base.html" %}
{%block title%}Selection{%endblock%}
{%block script%}{%endblock%}
{% block content %}
<div class="container">
<h1>Login</h1>
<form action="/selection/" method="post"><input type='hidden' name='csrfmiddlewaretoken' value='1gWGfoZnPvLo6KD5Wtd0eM3ElQnF2gXo' />
<p><label for="id_name">Name:</label> <input id="id_name" maxlength="50" name="name" type="text" /></p>
<p><label for="id_netid">Netid:</label> <input id="id_netid" maxlength="50" name="netid" type="text" /></p>
<input type="submit" value="Submit" />
</form>
</div>
{%endblock%}