{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="container">
<h2>Our story</h2>
<p class="blurb">
<p> </p>
<h3><td><span class="desc">Founded by a team of sophomore students in the fall of 2013 under the previous name of CampusConnection, Let's Get Coffee seeks to help resolve the perennial question of how to best transition new students - freshmen and transfer students - into college life at Cornell.</span></td><br></h3>
<p> </p>
<p>
As we all know, this transition can be a difficult time for new students trying to find their place in the university. Talking to an upperclassman with similar interests, however, we believe can make a world of a difference and set a new student off on the right foot down the path towards success in college.
</p>
<p>
Our goal at Let's Get Coffee is to connect new students to upperclassmen with similar interests to provide guidance, create connections, and ultimately strengthen the Cornell community.
</p>
</div>

<hr />

<div class="container">
<h2>Our team</h2>

<!-- <table id="team-table">
<tr>
<td class="photo"><img src="/static/img/zach.jpg" /></td>
<td style="width: 200px"><span class="name">Zach Praiss</span><br /><span class="desc">Idealist</span></td>
<td class="photo"><img src="/static/img/emma.jpg" /></td>
<td><span class="name">Emma Jesch</span><br />Visionary</td>
</tr>
<tr>
<td class="photo"><img src="/static/img/blake.jpg" /></td>
<td style="width: 200px"><span class="name">Blake Barr</span><br /><span class="desc">Realist</span></td>
<td class="photo"><img src="/static/img/spencer.jpg" /></td>
<td><span class="name">Spencer Weiss</span><br />Pragmatist</td>
</tr>
<tr>
<td class="photo"><img src="/static/img/jimmy.jpg" /></td>
<td style="width: 200px"><span class="name">Jimmy Chen</span><br /><span class="desc">Existentialist</span></td>
</tr>
</table> -->
<p> </p>
<p>Alice Chou (aec247)</p>
<p>Andrew Shi (as2589)</p>
<p>Blake Barr (bab354)</p>
<p>Catherine Anderson (cha38)</p>
<p>Dylan Van Duyne (dlv43)</p>
<p>Emma Jesch (eaj54)</p>
<p>Jimmy Chen (jsc349)</p>
<p>Julia Liu (sl2473)</p>
<p>Mary Melati (mam542)</p>
<p>Yixuan Zhang (yz427)</p>
<p>Zach Praiss (ztp3)</p>
</div>
{% endblock %}
