     <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><a href="/">Let's Get Coffee</a> is an initiative at Cornell
                University that connects new students to
                upperclassmen for guidance and advice.</p>
                <p><a href="#">Linking Students - </a> After new students complete an online survey, 
                we share those results with upperclassmen
                who can then handpick their new student.</p>
                <p><a href="#">Building community - </a> By bringing students together and increasing
                the interconnectivity of campus, we strive
                to strengthen the Cornell community.</p>
                <p>Founded by a team of sophomore students in the fall of 2013 under the previous name of CampusConnection, Let's Get Coffee seeks to help resolve the perennial question of how to best transition new students - freshmen and transfer students - into college life at Cornell.</p>
                <p>
                As we all know, this transition can be a difficult time for new students trying to find their place in the university. Talking to an upperclassman with similar interests, however, we believe can make a world of a difference and set a new student off on the right foot down the path towards success in college.
                </p>
                <p>
                Our goal at Let's Get Coffee is to connect new students to upperclassmen with similar interests to provide guidance, create connections, and ultimately strengthen the Cornell community.
                </p>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>
