{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="container">
<h2>Contact</h2>
<br>
<p style="height: 350px">
	Thank you for your interest and participation in Let's Get Coffee.  If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a>.
</p>
</div>
{% endblock %}