{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block script %}{% endblock %}

{% block content %}
<div class="container">
<iframe width="940" height="526.4" src="//www.youtube.com/embed/aR34coN9evw?rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe></div>

<!-- <iframe width="940" height="526.4" src="//www.youtube.com/embed/H2JGN_FIrnM?rel=0&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe></div> -->

<hr />

<div class="container">
<img src="/static/img/first.png" height="300" class="thumb-left" />
<br>
<br>
<br>
<br>
<br>
<h2>Connect the dots</h2>
<div class="description">
<br>
	Let's Get Coffee is an initiative at Cornell<br>
<br>
	University that connects new students to <br>
<br>
	upperclassmen for guidance and advice.
</div>
<div class="clear"></div>
</div>

<hr />

<div class="container">
<img src="/static/img/second.png" height="300" class="thumb-right" />
<br>
<br>
<br>
<br>
<br>
<h2 align="right">Linking students</h2>
<div class="description">
<br>
<p align="right">
	After new students complete an online survey, <br>
<br>
	we share those results with upperclassmen <br>
<br>
	who can then handpick their new student.</p>
</div>
<div class="clear"></div>
</div>

<hr />

<div class="container">
<img src="/static/img/third.png" height="300" class="thumb-left"/>
<br>
<br>
<br>
<br>
<br>
<h2>Building community</h2>
<div class="description">
<br>
By bringing students together and increasing<br>
<br>
the interconnectivity of campus, we strive<br>
<br> 
to strengthen the Cornell community.
</div>
<div class="clear"></div>
</div>

<hr />


<div class="container">

<div align="center">
<br>
<br>
<h2>Starting with you</h2>
<div class="description">
<br>
Sign up by the end of Saturday 9/12<br />
<br>
<a href="/newstudent/" class="btn">New students</a><br />
<a href="/upperclassman/" class="btn">Upperclassmen</a><br />
<br>
<br>
<br>
<br>
</div>
</div>

<div class="clear"></div>
</div>

<!--added stuff below here-->

<!--added stuff ended-->


{% endblock %}
