{% extends "base.html" %}

{% block title %}
faq
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
<h1>Thank you</h1>
<p>
	You have officially submitted the new student survey.
</p>
<p>
	Starting September 13, upperclassmen will begin reviewing the survey responses of new students in their major(s) and selecting their new students based on similar interests.
</p>
<p>
	Your upperclassman will be instructed to contact you via email before September 17 to schedule your meeting at a public place on campus.
</p>
<p>
	If you have any questions or concerns, please do not hesitate to contact us at <a href="mailto:letsgetcoffeecornell@gmail.com">letsgetcoffeecornell@gmail.com</a> or on <a href="http://www.facebook.com/cucampusconnection">Facebook</a>.
</p>
</div>
</div>
</section>
{% endblock %}
